body{
    background-color: lightseagreen;
}

h1{
    text-align: center;
}

.one, .two, .three{
    text-align: center;
}

.three, .two{
    margin-top: 50px;
}

#copy_btn{
   background-color: rgb(245, 245, 141); 
}

#copy_btn:hover{
   background-color: gold;
}

textarea{
    background-color: greenyellow;
}




